<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/data.css">

  <title>Adauga date</title>
</head>

<body>

  <div class="main">
    <div class="form-style-6">
      <h1>Adauga Date</h1>
      <form action="/adauga-date" method="POST" class="data-form">
        <input type="text" name="question" placeholder="Intrebare" required="true" />
        <input type="text" name="option_1" placeholder="Varianta de raspuns #1" required="true" />
        <input type="text" name="option_2" placeholder="Varianta de raspuns #2" required="true" />
        <input type="text" name="option_3" placeholder="Varianta de raspuns #3" required="true" />
        <input type="text" name="option_4" placeholder="Varianta de raspuns #4" required="true" />
        <input type="text" name="correct_answer" placeholder="Raspuns corect" />
        <input type="submit" value="Salveaza" />
      </form>
    </div>
  </div>

</body>

</html>